botorch==0.6.0
git+https://github.com/cornellius-gp/gpytorch.git
git+https://github.com/facebook/Ax.git
matplotlib
numpy
pandas
netron
tabulate
pareto
sklearn
scipy
tfds-nightly
tensorflow
tensorflow-io
tensorflow-hub
tensorflow_addons
tensorboard
tensorflow-model-optimization
jupyterlab
jupyter
pyyaml
gin-config
gin
absl-py
dataclasses
tqdm
pymoo
torch
torchvision
efficientnet_pytorch
Pillow
sqlalchemy
mlflow
fast-pytorch-kmeans
pytest
typing-extensions
diversipy
pydoe
doepy
tables